<p>Hey {{leadName}},</p>
<p>Welcome to baby behind the bars system we need to to testify the below
  personal
</p>
<p><b>Names</b>: {{names}}</p>
<p><b>Phone</b>: {{phone}}</p>
<p><b>District</b>: {{district}}</p>
<p><b>Sector</b>: {{sector}}</p>
<p><b>Cell</b>: {{cell}}</p>
<p><b>Village</b> {{village}}</p>
<p>
  This is the link to testify this citizen :
  <a href='{{urlLink}}'>Click here to testify</a>
</p>

<b>baby behind the bars</b>